html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'PoetsenOne';
  src: url('../src/assets/fonts/PoetsenOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PoetsenOne-bold';
  src: url('../src/assets/fonts/PoetsenOne-Regular.ttf');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-bold';
  src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ex-bold';
  src: url('./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
  font-weight: bold;
  font-style: normal;
}

.gallery-header, .price-header, .services-header, .promotions-header, .rules-header, .reviews-header, .about-header, .map-ya-header{
  color: #9D9D9D;
  text-align: center;
  font-size: 32px;
  font-family: "Montserrat-ex-bold";
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 40px;
}
@media (min-width: 376px) and (max-width: 425px){
  .gallery-header, .price-header, .services-header, .promotions-header, .rules-header, .reviews-header, .about-header, .map-ya-header{
    font-size: 24px;
  }
}
@media (min-width: 320px) and (max-width: 375px){

  .gallery-header, .price-header, .services-header, .promotions-header, .rules-header, .reviews-header, .about-header, .map-ya-header{
    font-size: 24px;
  }

}
